body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


.content {
    display: inline-block;
    width: 80%;
    max-width: 1024px;
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: left;
}

h1 {
    margin: 0 0 20px 0;
    font-size: 330%;
    line-height: 110%;
}

h2 {
    font-weight: bold;
    color: #104cc4;
    text-transform: uppercase;
    margin-top: 40px;
}


.date {
    color: #777777;
}

ul, li {
    margin-bottom: 10px;
}

header {
    margin-bottom: 50px;
}

header p,
header p a,
a {
    color: black;
}

.photo {
    --photo-size: 150px;
    width: var(--photo-size);
    height: var(--photo-size);
    margin-right: 20px;
    border-radius: 50%;
}

.date {
    display: block;
    font-style: italic;
    font-size: 90%;
}

.main-education {
    padding: 10px;
    color: black;
}